#calculator {
    padding: 40px;
    text-align: center;
    align-content: center;
    border: 1px solid;
    font-size: 30px;
}

#button-container {
    justify-content: space-evenly;
    
}

#display{
    border: 1px solid;
    margin: 40px;
    padding: 20px;
}

.line {
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    font-size: 30px;
    aspect-ratio: 1/1;
    height: 60px;
    margin: 20px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1.4);
}

.container {
   
}

.operator {
    background-color: #ddedff;
}